<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="server.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
  </head>
  <body id="background3" class="pageblack">
    <div id="navbar">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="work.html">Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li>
      </ul>
    </div>
    <div id="container-fluid">
      <div style="margin-top: 60px" class="row">
        <div style="background-color: #4f2683" class="col-sm-6">
          <div>
        <h class="page">About me</h>
        <p id="about-me">
          Hi, I'm Michael. I was born in Toronto about 17 years ago. I lived
          there until 2017, then I moved to Collingwood. I like to mountain
          bike, ski, play hockey, tennis, and more. I also play the piano and
          guitar. I am a beginner in computer science.
        </p>
      </div>
          <p class="aboutme">
            <a href="https://collingwood.ca/">Where I live</a>
          </p>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              class="embed-responsive-item"
              src="https://maps.google.com/maps?q=collinwood%20ontario&t=&z=13&ie=UTF8&iwloc=&output=embed"
              allowfullscreen
            >
            </iframe>
          </div>
          <p class="aboutme">
            <a href="https://wendys.com/">Where I work</a>
          </p>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2845.6590570163826!2d-80.23559648436036!3d44.501652405169686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882a7a2cb9bc43dd%3A0x1b097b1e4b1952e4!2sWendy&#39;s!5e0!3m2!1sen!2sca!4v1578588977333!5m2!1sen!2sca"
              width="400"
              height="300"
              frameborder="0"
              style="border:0;"
              allowfullscreen=""
            >
            </iframe>
          </div>
          <p class="aboutme">
            <a class="about-links" href="https://jva.schools.smcdsb.on.ca/"
              >My school</a
            >
          </p>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2846.2655271178305!2d-80.20891068436072!3d44.48922580598507!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882a7bebcb254bf3%3A0x1423ea0e81eb7f0a!2sJean%20Vanier%20Catholic%20High%20School!5e0!3m2!1sen!2sca!4v1578589906119!5m2!1sen!2sca"
              width="600"
              height="450"
              frameborder="0"
              style="border:0;"
              allowfullscreen=""
            >
            </iframe>
          </div>
          <div class="imgs">
            <img
              src="https://cdn.glitch.com/50d7e4e9-c79a-4e82-aa21-c94ce7b8d6e0%2Fe94G08IK-removebg-preview.png?v=1617888386195"
              height="30%"
              width="30%"
            />
            <img
              src="https://cdn.glitch.com/50d7e4e9-c79a-4e82-aa21-c94ce7b8d6e0%2Fcollingwood-logo-outlined.png?v=1617813130508"
              height="30%"
              width="30%"
            />
            <img
              src="https://cdn.glitch.com/50d7e4e9-c79a-4e82-aa21-c94ce7b8d6e0%2F51e3f458eab8ea135800001d-removebg-preview.png?v=1617888382756"
              height="30%"
              width="30%"
            />
          </div>
          <p style="margin-top: 50px" class="page">
            Thanks for checking me out. To go back to the homepage, click <a style="text-decoration: underline" class="aboutme" href="index.html">here</a>
          </p>
        </div>
        <div class="col-sm-6">
          <p class="page">
            This is me mountain biking.
          </p>
          <video width="100%" controls>
            <source
              src="https://cdn.glitch.com/50d7e4e9-c79a-4e82-aa21-c94ce7b8d6e0%2FIMG_6552.MOV.mp4?v=1617892699939"
              type="video/mp4"
            />
          </video>
          <video width="60%" controls>
            <source
              src="https://cdn.glitch.com/50d7e4e9-c79a-4e82-aa21-c94ce7b8d6e0%2FIMG_7093.MOV.mp4?v=1617892945317"
              type="video/mp4"
            />
          </video>
          <div>
            <h style="margin-top: 50px" class="page">Some pictures I've taken.</h>
          <img width="80%"
            src="https://cdn.glitch.com/50d7e4e9-c79a-4e82-aa21-c94ce7b8d6e0%2FFile_000%20(1).jpeg?v=1617895397230"
          />
          <img width="80%"
            src="https://cdn.glitch.com/50d7e4e9-c79a-4e82-aa21-c94ce7b8d6e0%2FFile_000.jpeg?v=1617895401490"
          />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
