<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Michael's CCT</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="server.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
  </head>
  <body id="background1" class="page">
    <div id="particles-js">
      <script src="app.js"></script>
      <div id="navbar">
        <img
          src="https://cdn.glitch.com/50d7e4e9-c79a-4e82-aa21-c94ce7b8d6e0%2FBlack.png?v=1617803866751"
          height="60px"
          width="100%"
        />
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="work.html">Work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-12" id="homepage">
        <div class="text-center">
          <p>Michael Manbeck</p>
        </div>
        <div id="links" style="margin-top: 20px">
          <a href="https://www.instagram.com/michael.manbeck/">
            <img
              id="insta"
              src="https://cdn.glitch.com/50d7e4e9-c79a-4e82-aa21-c94ce7b8d6e0%2Finsta.png?v=1617803869512"
          /></a>
          <a href="https://www.strava.com/athletes/31946819/">
            <img
              id="strava"
              src="https://cdn.glitch.com/50d7e4e9-c79a-4e82-aa21-c94ce7b8d6e0%2Fstrava.png?v=1617803872031"
          /></a>
        </div>
        <div style="margin-top: 30px;">
          <a href="work.html">Click here to see my work</a>
        </div>
      </div>
    </div>
  </body>
</html>
