<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="server.js"></script>
  </head>
  <body id="background2" class="page">
      <div id="navbar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="work.html">Work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
        </ul>
      </div>
      <nav class="floating-menu">
        <!--scrolls view into the location of the according id's-->
        <button
          class="buttons"
          type="button"
          onclick="document.getElementById('u1').scrollIntoView();"
        >
          Unit 1
        </button>
        <button
          class="buttons"
          type="button"
          onclick="document.getElementById('u2').scrollIntoView();"
        >
          Unit 2
        </button>
        <button
          class="buttons"
          type="button"
          onclick="document.getElementById('u3').scrollIntoView();"
        >
          Unit 3
        </button>
        <button
          class="buttons"
          type="button"
          onclick="document.getElementById('u4').scrollIntoView();"
        >
          Unit 4
        </button>
        <button
          class="buttons"
          type="button"
          onclick="document.getElementById('py').scrollIntoView();"
        >
          Python
        </button>
      </nav>
      <div class="container-fluid">
        <p id="showcase">
          This page showcases all of the work I've done in this class.
        </p>
        <div class="units">
          <p id="u1">Unit 1 - Intro to C</p>
        </div>
        <div style="background-color: #4f2683" class="row">
          <div class="col-lg-4">
            <h3 class="subhead">variables.c</h3>
            <script src="https://gist.github.com/michaelmanbeck/cbe0ad19ecae14f9436b9497e8967c1d.js"></script>
          </div>
          <div class="col-lg-4">
            <h3 class="subhead">datatypes.c</h3>
            <script src="https://gist.github.com/michaelmanbeck/d1685756f43bdbca3277e050126e51a5.js"></script>
          </div>
          <div class="col-lg-4">
            <h3 class="subhead">placeholders.c</h3>
            <script src="https://gist.github.com/michaelmanbeck/45f90dbf31a5c495dfbc421433a2c34b.js"></script>
          </div>
          <div class="col-lg-4">
            <h3 class="subhead">operators.c</h3>
            <script src="https://gist.github.com/michaelmanbeck/ce0a566e50ddb505beb83ee0ca22650e.js"></script>
          </div>
          <div class="col-lg-4">
            <h3 class="subhead">booleans.c</h3>
            <script src="https://gist.github.com/michaelmanbeck/bb28fa1546d5099360fb77a65b737ae8.js"></script>
          </div>
          <div class="col-lg-4">
            <h3 class="subhead">dowhile.c</h3>
            <script src="https://gist.github.com/michaelmanbeck/3edbc8190f959b4daa7a156ac6812f85.js"></script>
          </div>
          <div class="col-lg-4">
            <h3 class="subhead">while.c</h3>
            <script src="https://gist.github.com/michaelmanbeck/cec5c766f504c7fc1a68fd592141b3c8.js"></script>
          </div>
          <div class="col-lg-4">
            <h3 class="subhead">forloop.c</h3>
            <script src="https://gist.github.com/michaelmanbeck/5e0f63cd163e25432dfb6910efba7b55.js"></script>
          </div>
          <div class="col-lg-4">
            <h3 class="subhead">magic.c</h3>
            <script src="https://gist.github.com/michaelmanbeck/91d9bbe87be7e21235e4cc69bbc1385f.js"></script>
          </div>
        </div>
        <div class="units">
          <p>Unit 1 problem - mario.c</p>
          <script src="https://gist.github.com/michaelmanbeck/0cd8ccef86f2e1c570be7e7342848c0e.js"></script>
        </div>
        <div class="units">
          <p id="u2">Unit 2 - Arrays</p>
        </div>
        <div style="background-color: #4f2683" class="row">
          <div class="col-lg-3">
            <h3 class="subhead">functions.c</h3>
            <script src="https://gist.github.com/michaelmanbeck/39afd89218f29e2ff2b67a5174396ef6.js"></script>
          </div>
          <div class="col-lg-3">
            <h3 class="subhead">array.c</h3>
            <script src="https://gist.github.com/michaelmanbeck/4c92162b1a256367e5563b45ba78392a.js"></script>
          </div>
          <div class="col-lg-3">
            <h3 class="subhead">string.c</h3>
            <script src="https://gist.github.com/michaelmanbeck/e75cbe9c05cddec3f5ecf781f2c50a5d.js"></script>
          </div>
          <div class="col-lg-3">
            <h3 class="subhead">exit.c</h3>
            <script src="https://gist.github.com/michaelmanbeck/36c8a2cfa107b22ca0ac8e54338b7f07.js"></script>
          </div>
          <div class="col-lg-3">
            <h3 class="subhead">commandline.c</h3>
            <script src="https://gist.github.com/michaelmanbeck/754d7feacc94d55b87fc8bcc26f7047c.js"></script>
          </div>
          <div class="col-lg-3">
            <h3 class="subhead">typecasting.c</h3>
            <script src="https://gist.github.com/michaelmanbeck/d7ab0773f2b02014b025f31ebf03e2d7.js"></script>
          </div>
          <div class="col-lg-3">
            <h3 class="subhead">buggy.c</h3>
            <script src="https://gist.github.com/michaelmanbeck/51e46657e69ce9ceef2392fafec99a10.js"></script>
          </div>
        </div>
        <div class="units">
          <p>Unit 2 Problem - caesar.c</p>
          <script src="https://gist.github.com/michaelmanbeck/9460189aa175cc5ff7eb9ce5643786e9.js"></script>
        </div>
        <div class="units">
          <p id="u3">Unit 3 - Algorithms</p>
        </div>
        <div style="background-color: #4f2683" class="row">
          <div class="col-lg-4">
            <h3 class="subhead">linear.c</h3>
            <script src="https://gist.github.com/michaelmanbeck/c3e6813f2a103e18d471c3b0a3b23372.js"></script>
          </div>
          <div class="col-lg-4">
            <h3 class="subhead">bubble.c</h3>
            <script src="https://gist.github.com/michaelmanbeck/d958dab904f720b3480dd8ccacb99bdd.js"></script>
          </div>
          <div class="col-lg-4">
            <h3 class="subhead">selection.c</h3>
            <script src="https://gist.github.com/michaelmanbeck/f37a1167c1c86a28a78a1548d464f7a1.js"></script>
          </div>
          <div class="col-lg-4">
            <h3 class="subhead">insertion.c</h3>
            <script src="https://gist.github.com/michaelmanbeck/f4f021e03f62700e7f9a569c8150ed9b.js"></script>
          </div>
          <div class="col-lg-4">
            <h3 class="subhead">binary.c</h3>
            <script src="https://gist.github.com/michaelmanbeck/af1731452317e990988009c443c54114.js"></script>
          </div>
        </div>
        <div class="units">
          <p>Unit 3 Problem - runoff.c</p>
          <script src="https://gist.github.com/michaelmanbeck/c72aa9dbaf30142eb6aabf0d0a47b60d.js"></script>
        </div>
        <div class="units">
          <p id="u4">Unit 4 - Memory</p>
        </div>
        <div style="background-color: #4f2683" class="row">
          <div class="col-lg-3">
            <h3 class="subhead">students.c</h3>
            <script src="https://gist.github.com/michaelmanbeck/837d6c82652600ece3cb8e8be8759f5b.js"></script>
          </div>
          <div class="col-lg-3">
            <h3 class="subhead">recursion.c</h3>
            <script src="https://gist.github.com/michaelmanbeck/f48ba1312826c506416e5e4948513672.js"></script>
          </div>
          <div class="col-lg-3">
            <h3 class="subhead">mergesort.c</h3>
            <script src="https://gist.github.com/michaelmanbeck/ef43882f3c9f87745e35916865e311c8.js"></script>
          </div>
          <div class="col-lg-3">
            <h3 class="subhead">hexadecimal.c</h3>
            <script src="https://gist.github.com/michaelmanbeck/55109866ea1980a0ae33ae5a5a6405f2.js"></script>
          </div>
          <div class="col-lg-3">
            <h3 class="subhead">fileio.c</h3>
            <script src="https://gist.github.com/michaelmanbeck/614bf28af36e19c8bf534fb261eb7a91.js"></script>
          </div>
          <div class="col-lg-3">
            <h3 class="subhead">pointers.c</h3>
            <script src="https://gist.github.com/michaelmanbeck/24b9a2aac5ec243d64be82e496abb06d.js"></script>
          </div>
          <div class="col-lg-3">
            <h3 class="subhead">memory.c</h3>
            <script src="https://gist.github.com/michaelmanbeck/f6a75b392b0e63ff9f298b0c7aa85b02.js"></script>
          </div>
        </div>
        <div class="units">
          <p id="py">Unit 6 - Python</p>
        </div>
        <div style="background-color: #4f2683" class="row">
          <div class="col-lg-4">
            <h3 class="subhead">hello.py</h3>
            <script src="https://gist.github.com/michaelmanbeck/14c39a4f935c28355ce85464b594c196.js"></script>
          </div>
          <div class="col-lg-4">
            <h3 class="subhead">mario.py</h3>
            <script src="https://gist.github.com/michaelmanbeck/b5c2b4c952086abd057dd6ba43e22adc.js"></script>
          </div>
          <div class="col-lg-4">
            <h3 class="subhead">cash.py</h3>
            <script src="https://gist.github.com/michaelmanbeck/1852e489a10d90f90e6f5b3dbfdb2158.js"></script>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
